* {
  font-family: 'Quattrocento', serif;

}

.btn {
  margin: 10px !important;
}

.footer-link a {
  color: #796465 !important;
}

.categories, .one-cat {
  border: 1px solid #796465;
  padding: 8px;
  border-radius: 5px;
}

.cat-name {
  text-transform: uppercase;
}

.cat-products {
  padding-bottom: 30px;
}

.cat-name:hover, .product-name:hover {
  cursor: pointer !important;
}

.jumbotron {
  background-image: url('../images/noah-buscher-385639.jpg');
  background-position: center;
  background-size: cover;
  color: BlanchedAlmond;
}

#welcome {
  font-weight: bold;
  border: 1px solid BlanchedAlmond;
  border-radius: 8px;
  padding: 8px;
}
