<div class="row" ng-if="ctrl.showUserLogs === true">

  <div class="col">
    <h1>Your Skincare Logs!</h1>

    <div ng-repeat="userLog in ctrl.userLogs">
      <p ng-click="ctrl.getOneLog(userLog)">
        {{ userLog.name }}
        <span ng-click="ctrl.showEditLogName = true; ctrl.showCategories = true; ctrl.addLog = true; ctrl.currentLog = userLog" class="fa fa-pencil-square-o" aria-hidden="true"></span>
        <span ng-click="ctrl.showDeletePrompt = true; ctrl.logToDelete = userLog" class="fa fa-trash-o" aria-hidden="true"></span>
      </p>
    </div>

  </div>

  <div class="col">

    <div ng-if="ctrl.showEditLogName === true">
      <form ng-submit="ctrl.editLogName(formData)">
        <label for="new-log-name">Edit your log title</label>
        <input id="new-log-name" type="text" placeholder="Date & Time of Day" ng-model="formData.name"/>
        <label for="edit-log-btn">Submit</label>
        <input id="edit-log-btn" class="btn btn-outline-primary" type="submit"/>
        <button class="btn btn-outline-secondary" ng-click="ctrl.showEditLogName = false">Close</button>
      </form>

    </div>

    <div ng-if="ctrl.showDeletePrompt === true">
      <p>Are you sure you want to delete this log?</p>
      <button class="btn btn-outline-primary btn-sm" ng-click="ctrl.deleteLog(ctrl.logToDelete.id)" name="Delete">Delete</button>
      <button class="btn btn-outline-secondary" ng-click="ctrl.showDeletePrompt = false" name="Close">Close</button>
    </div>

    <p>{{ ctrl.oneLog.name }}</p>
    <div ng-repeat="logEntry in ctrl.oneLog.products">
      {{ logEntry.brand }}
      {{ logEntry.name }}
      <!-- <span ng-click="ctrl.deleteEntry(logEntry, oneLog)" class="fa fa-trash-o"></span> -->
    </div>
  </div>

</div>
